<!DOCTYPE html>
<html>
    <head>
        <title>Abalone Calculator</title>
        <link rel="stylesheet" href="templates/abalone.css">
    </head>

    <body>
        <div class="twosides">
        <div class="leftside">
            <h3>Abalone Age and Physical Measurements</h3>

            <p>The age of abalone is determined by cutting the shell through
            the cone, staining it, and counting the number of rings through
            a microscope -- a boring and time-consuming task. Other
            measurements, which are easier to obtain, are used to predict
            the age.</p>

            <p>Use this calculator to predict the number of rings and age of an
            abalone from its physical measurements.</p>

            <h4>References</h4>
            <ul>
            <li><a href='https://www.kaggle.com/rodolfomendes/abalone-dataset'
                target='_blank'>https://www.kaggle.com/rodolfomendes/abalone-dataset</a></li>
            <li><a href='https://archive.ics.uci.edu/ml/datasets/abalone'
                target='_blank'>https://archive.ics.uci.edu/ml/datasets/abalone</a></li>
            </ul>
        </div>

        <div class="rightside">
            <form action = "/result" method="POST">

            <div class="twosides">
            <div class="leftside">

            <p>Sex:
            <select name="sex">
                <option value="M">male</option>
                <option value="F" selected>female</option>
                <option value="I">infant</option>
            </select>

            <p>Length:
            <input name='length' type='number' required min='0'
            value='0.524' step='0.001'/></p>

            <p>Height:
            <input name='height' type='number' required min='0'
            value='0.140' step='0.001'/></p>

            <p>Diameter:
            <input name='diameter' type='number' required min='0'
            value='0.408' step='0.001'/></p>

            <div class='predictions'>
            <p>Rings: <input name='rings' type='number'></p>

            <p>Age: <input name='age' type='number'></p>
            </div>
            </div>

            <div class="rightside">
            <p>Whole weight: <input name='whole' type='number'
                required min='0' value='0.8287' step='0.0001'/></p>

            <p>Shucked weight: <input name='shucked' type='number'
                required min='0' value='0.3594' step='0.0001'/></p>

            <p>Viscera weight: <input name='viscera' type='number'
                required min='0' value='0.1806' step='0.0001'/></p>

            <p>Shell weight: <input name='shell' type='number'
                required min='0' value='0.2388' step='0.0001'/></p>

            <p><input type ='reset' value='Reset'/>

            <input type ='submit' value='Submit'/></p>

            </div>
            </div>
            </form>
        </div>
        </div>
    </body>
</html>
