<!DOCTYPE html>
<html>
    <head>
        {% include 'gtag.html' %}
        <title>Abalone Calculator</title>
        <style>
            body {
                /* colors: https://encycolorpedia.com/dbc7bd */
                background-color: #dbc7bd;
                color: #243842;
            }

            div.leftside {
                float: left;
                width: 50%;
            }

            div.rightside {
                float: right;
                width: 50%;
            }

            div.predictions {
                display: none;
            }
        </style>
    </head>

    <body>
        <div class="twosides">
        <div class="leftside">
            <h3>Abalone Age and Physical Measurements</h3>

            <p>The age of abalone is determined by cutting the shell through
            the cone, staining it, and counting the number of rings through
            a microscope -- a boring and time-consuming task. Other
            measurements, which are easier to obtain, are used to predict
            the age.</p>

            <p>Use this calculator to predict the number of rings and age of an
            abalone from its physical measurements.</p>

            <h4>References</h4>
            <ul>
            <li><a href='https://www.kaggle.com/rodolfomendes/abalone-dataset'
                target='_blank'>https://www.kaggle.com/rodolfomendes/abalone-dataset</a></li>
            <li><a href='https://archive.ics.uci.edu/ml/datasets/abalone'
                target='_blank'>https://archive.ics.uci.edu/ml/datasets/abalone</a></li>
            </ul>
        </div>

        <div class="rightside">
            <form action = "/result" method="POST">
            <div class="twosides">
            <div class="leftside">

            <p>Sex:
            <select name="sex">
                <option value="M">male</option>
                <option value="F" selected>female</option>
                <option value="I">infant</option>
            </select>

            <p>Length (mm)
            <input name='length' type='number' required min='0' value='105'/></p>

            <p>Height (mm)
            <input name='height' type='number' required min='0' value='28'/></p>

            <p>Diameter (mm)
            <input name='diameter' type='number' required min='0' value='82'/></p>

            </div>

            <div class="rightside">
            <p>Whole weight (g) <input name='whole' type='number'
                required min='0' value='166'/></p>

            <p>Shucked weight (g) <input name='shucked' type='number'
                required min='0' value='72'/></p>

            <p>Viscera weight (g) <input name='viscera' type='number'
                required min='0' value='36'/></p>

            <p>Shell weight (g) <input name='shell' type='number'
                required min='0' value='48'/></p>

            <p><input type ='reset' value='Reset'/>
            <input type ='submit' value='Submit'/></p>

            </div>
            </div>
            </form>
        </div>
        </div>
    </body>
</html>
